.content {
  --background: #311B92; 
  --color: white; 


}

.container{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.movie-col{
  padding: 15px;
  text-align: center;
  color: whitesmoke;
}