<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start">
                  <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
                  Film Dla Ciebie
          </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class='text'>Moje Filmy:</h1>
  <div>
      <img class='image1' src="..\assets\images\image1.jpg" >
      <h4 class='title1'>title1</h4>
  </div>
  <div>
      <img class='image2' src="..\assets\images\image2.jpg" >
      <h4 class='title2'>title2</h4>
  </div>

</ion-content>