<ion-header>
        <ion-toolbar>
                <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>
                        Twoje filmy
                </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="content">
        <ion-grid>
                <ion-row>
                        <ion-col size="6" *ngFor="let userFilm of userFilms" class="movie-col">
                                        <img class='image1' [src]="userFilm.imgURL"/>
                                        <p class='text'>{{ userFilm.tittle }} </p>
                        </ion-col>
                </ion-row>
        </ion-grid>

</ion-content>