.content {
    --background: #311B92; 
    --color: white;
  }
  
  .container{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .movie-subtitle {
    color: #DEDEDE;
  }
  
  .fit-image {
    width: 100%;
  object-fit: cover;
  }
  
  .movie-description {
    font-size: 12px;
  }
  
  .mark-star{
    color: #FF9800;
  }
  
  p {
    margin: 0;
    font-size: 14px;
  }
  
  a {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .random {
    margin: 5px;
    height: 70px;
    --background:  #E91E63;
  }
  
  .footer {
    --background: #240056;
    padding: 5%;
  }
  
  .trailer-btn{
    width: 100%;
    margin: 0%;
    font-size: 10px;
  }
  
  .yt-icon {
    margin-right: 5px;
  }