.content {
  --background: #311B92; 
  --color: white; 


}

.container{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.image1{
  top: auto;
  
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: auto;
  
  padding: 7px;

}
li {
  display: inline-block;
}

.text{
  width: 150px;
  height: 50px;
  padding: 3%;
  margin: auto;
  display: inline-block;
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 130%;
  line-height: 17px;
  
  color: #E6E6E6;
}

