<ion-header>
  <ion-toolbar>
    <ion-title>accountcreated</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="text-align:center">
    <div class='text'>
      <h3>
        Konto zostało utworzone.
      </h3>
      <h4>
        Zostałeś pomyślnie zalogowany.
      </h4>

    </div>

  </div>
  <div>
    <img alt="smile_vector" class='image' src='.\assets\images\vector.svg'>
  </div>
  <div style="text-align:center">

    <button (click)="clickAccountCreated()" mat-raised-button color="warn" class="random">Zaczynamy</button>
  </div>


</ion-content>