   ::ng-deep .mat-menu-panel {
    max-width: none!important;
    min-width: 300px!important;
  }

  .content {
    --background: #311B92; 
    --color: white;
  }

  .container{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .random {
    margin: 5px;
    height: 70px;
    --background:  #E91E63;
  }

  .footer {
    --background: #240056;
    padding: 5%;
  }

  .slider {
    width: 100%;
    margin-bottom: 15px;
  }

  .year-width {
    width: 95%;
  }

  .choose-field{
    width: 97.5%;
  }

  h6 {
    color: #DEDEDE;
    font-size: 0.8rem;
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  .filmweb-mark{
    align-content: center;
    align-items: center;
  }
  