<head>

</head>
<body>

  <!-- <div class="container">
    <h1>FILTER PAGE</h1>
    <textarea id="mainText" ></textarea>
    <button (click)="clickGetAllTittles()"> pobierz tytuły filmów </button>
  </div> -->
  <div class="container">
    <textarea id="genresTA" ></textarea>
    <button (click)="clickGetAllGenres()"> pobierz gatunki filmów </button>
  </div>
  <div class="container">
    <textarea id="countriesTA" ></textarea>
    <button (click)="clickGetAllCountries()"> pobierz kraje produkcji filmów </button>
  </div>
  <div class="container">
    <textarea id="filterFilmsTA" ></textarea>
    <button (click)="clickFilterFilms()"> filtruj filmy </button>
  </div>
  <div class="container">
      <textarea id="randomTA"></textarea>
      <button (click)="clickRandomFilm()"> wylosuj film </button>
    </div>
 </body>
