

#mainText {
  width: 50%;
  height: 200px;
}

#genresTA {
  width: 50%;
  height: 300px;
}

#countriesTA {
  width: 50%;
  height: 300px;
}

#filterFilmsTA {
  width: 50%;
  height: 300px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

/* .slider-margin {
  margin: 10px;
} */

.mat-slider-horizontal {
  width: 100%;
}

.example-full-width {
  width: 15%;
}

span{
  margin:10%;
}

.random{
width: 100%;
height: 20%;
}

.chooseField{
width: 100%;
height: 15%;
}

.yearChoose{
width: 45%;
height: 15%;
}

.icon {
  font-size: 400%;
}

::ng-deep .mat-menu-panel {
  max-width: none!important;
  min-width: 300px!important;
}

body{
  background-color: #311B92; 
  color: white;
}

.menu-toolbar{
  background-color: #240056;
}

