body{
    background-color: #311B92;
    color: white;
  }
  .text{
  position: absolute;
  left: 15.28%;
  right: 17.5%;
  top: 6%;
  bottom: 80%;
  
  
  font-family: Lato;
  font-style: normal;
  font-weight: 10%;
  font-size: 24px;
  line-height: 29px;
  }
  
  .random{
    width: 100%;
    height: 20%;
    margin-bottom:5%;
    margin-top: 13.5%;
  
    }
  
  .image{
      width:180px;
      height:180px;
      max-width: 100%;
      height: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-top: 45%;
      margin-left: auto;
      display: block;
  
  }
  
  .content {
    --background: #311B92; 
    --color: white;
  }