<ion-header>
  <ion-toolbar>
    <ion-title>Zalogowano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='content'>


  <div style="text-align:center">
    <div class='text'>
      <h2>
        Zostałeś pomyślnie zalogowany.
      </h2>

    </div>

  </div>
  <div>
    <img alt="smile_vector" class='image' src='.\assets\images\vector.svg'>
  </div>
  <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column text-center ">
  
    
      <button (click)="clickLoggedIn()" type="submit" class="btn btn-danger btn-block font-weight-bold">Zaczynamy</button>
    
  
  </div>
</ion-content>