<main-nav></main-nav>
<div class="container">
    <div class="row">
            <div class="col-12 movie-title">
                    <h2>Nazwa filmu</h2>
            </div>
            <div class="col-6">
                    <img class="fit-image" src="https://ssl-gfx.filmweb.pl/po/08/62/862/7517878.6.jpg">
            </div>
            <div class="col-6">
                    <h1><mat-icon class='mark-star'>star</mat-icon>6.0</h1>
                    <a>Rok produkcji</a>
                    <strong><p>2006</p></strong>
                    <a>Rok produkcji</a>
                    <strong><p>2006</p></strong>
                    <a>Rok produkcji</a>
                    <strong><p>2006</p></strong>
            </div>
    </div>
    <div class="row">
            <div class="col-12 movie-description">
                    Emerytowany strażnik więzienny opowiada przyjaciółce o niezwykłym mężczyźnie, którego skazano na śmierć za zabójstwo dwóch 9-letnich dziewczynek.
            </div>
            <div class="col-12">
                    <button type="button" class="btn btn-danger">Losuj następny</button>
            </div>
     </div>
</div>

