.content {
  --background: #311B92; 
  --color: white;
  --ion-grid-padding: 0;
}

.container{
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.movie-subtitle {
  color: #DEDEDE;
}

.fit-image {
  width: 100%;
object-fit: cover;
}

.movie-description {
  font-size: 14px;
}

.mark-star{
  color: #FF9800;
}

p {
  margin: 0;
  font-size: 14px;
}

.parameter-header {
  font-size: 16px;
}

.random {
  margin: 5px;
  height: 70px;
  --background:  #E91E63;
}

.footer {
  --background: #240056;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trailer-btn{
  width: 100%;
  margin: 0%;
  font-size: 10px;
}

.yt-icon {
  margin-right: 5px;
}

.user-button {
    padding: 0 !important;
    width: 100%;
    margin: 0%;
    font-size: 10px;
    color: #D1C4E9;
    --background:#240056;
    text-align: center;
    
  }

  .user-col{
    padding: 0;
    margin: 0;
  }

  .personal-icon {
    margin-right: 6px;
    font-size: 1.2rem;
  }

  .iframe {
    text-align: center;
  }