<main-nav></main-nav>
<div class="container">
    <div class="row">
            <div class="col-12 movie-title">
                    <h2>{{pageFilmTitle}}</h2>
            </div>
            <div class="col-6">
                    <img class="fit-image" [src]='pageimgURL'>
            </div>
            <div class="col-6">
                    <h1><mat-icon class='mark-star'>star</mat-icon>{{pagefilmScore}}</h1>
                    <a>Rok produkcji</a>
                    <strong><p>{{pageFilmYear}}</p></strong>
                    <a>Gatunek</a>
                    <strong><p>{{pageFilmGenres}}</p></strong>
                    <a>Kraj produkcji</a>
                    <strong><p>{{pageFilmCountries}}</p></strong>
            </div>
    </div>
    <div class="row">
            <div class="col-12 movie-description">
                    Emerytowany strażnik więzienny opowiada przyjaciółce o niezwykłym mężczyźnie, którego skazano na śmierć za zabójstwo dwóch 9-letnich dziewczynek.
            </div>
            <div class="col-12">
                    <button type="button" class="btn btn-danger">Losuj następny</button>
            </div>
     </div>
</div>

