<ion-header>
        <ion-toolbar>
                <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>
                        Film Dla Ciebie
                </ion-title>
        </ion-toolbar>
</ion-header>

<ion-content class="content" [scrollEvents]="true" (ionScrollStart)="logScrollStart()"
        (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
        <ion-grid class="container">
                <ion-row>
                        <ion-col size="12">
                                <h2>{{pageFilmTitle}}</h2>

                        </ion-col>
                        <ion-col size="12" class="movie-subtitle">
                                <h6>{{pageFilmOriginalTitle}}</h6>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col size="6"> <img class="fit-image" [(src)]='pageimgURL'>
                                <!--property binding-->
                        </ion-col>
                        <ion-col size="6">
                                <h1>
                                        <mat-icon class='mark-star'>star</mat-icon>{{pagefilmScore}}
                                </h1>
                                <!--interpolation-->
                                <a>Rok produkcji</a>
                                <strong>
                                        <p>{{pageFilmYear}}</p>
                                </strong>
                                <a>Gatunek</a>
                                <strong>
                                        <p>{{pageFilmGenres}}</p>
                                </strong>
                                <a>Kraj produkcji</a>
                                <strong>
                                        <p>{{pageFilmCountries}}</p>
                                </strong>
                        </ion-col>

                </ion-row>
                <ion-row>
                        <ion-col size="6">
                                <ion-button (click)="clickTrailer()" (click)="ScrollToBottom()" class="trailer-btn"
                                        color="danger" icon-start>
                                        <ion-icon name="logo-youtube" class="yt-icon"></ion-icon>
                                        Obejrzyj trailer
                                </ion-button>
                        </ion-col>
                        <ion-col size="12">
                                <div class="movie-description">
                                        {{pageFilmDescription}}
                                </div>
                        </ion-col>
                </ion-row>
                <ion-row>

                        <!-- <ion-col [hidden]="show">  -->
                        <ion-col size="12" [style.visibility]="(showYTPlayer) ? 'visible' : 'hidden' ">
                                <youtube-player [videoId]="idRadomFIlmYT" (ready)="savePlayer($event)"
                                        (change)="onStateChange($event)">
                                </youtube-player>

                        </ion-col>

                </ion-row>


                <div>
                        <button full (click)="startMotion()">Start Watching</button>
                        <button full (click)="stopMotion()">Stop Watching</button>
                        <div *ngIf="data">
                                <div>
                                        <h2>X: {{data.x | number:'1.4-4'}}</h2>
                                        <h2>Y: {{data.y | number:'1.4-4'}}</h2>
                                        <h2>Z: {{data.z | number:'1.4-4'}}</h2>
                                </div>
                        </div>
                </div>
        </ion-grid>

</ion-content>
<ion-footer>
        <ion-toolbar class="footer">
                <ion-row>
                        <ion-col size="12" class="user-col">
                                <ion-button (click)="clickRandomNextFilm()" (click)="ScrollToTop()" expand="block"
                                        size="large" class="random">Losuj następny
                                </ion-button>
                        </ion-col>
                </ion-row>
                <ion-row [style.visibility]="(showUserWatchButton) ? 'visible' : 'hidden' ">
                        <ion-col size="5" class="user-col">
                                <ion-button (click)="clickUserWatched()" class="user-button" icon-start>
                                        <ion-icon name="star-outline" class="personal-icon"></ion-icon>
                                        Oglądałem
                                </ion-button>
                        </ion-col>
                        <ion-col size="7" class="user-col">
                                <ion-button (click)="clickUserAvoidFilm()" class="user-button" icon-start>
                                        <ion-icon name="sad" class="personal-icon"></ion-icon>
                                        Nie pokazuj więcej
                                </ion-button>
                        </ion-col>
                </ion-row>



        </ion-toolbar>
</ion-footer>