body{
    background-color: #311B92;
    color: white;
  }
  .text{
  position: absolute;
  margin-top: 12%;
  

  }
  
  .random{
    width: 75%;
    height: 20%;
    margin-bottom:5%;
    margin-top: 13.5%;
  
    }
  
  .image{
      width:180px;
      height:180px;
      max-width: 100%;
      height: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-top: 45%;
      margin-left: auto;
      display: block;
  
  }

  .content {
    --background: #311B92; 
    --color: white;
  }
  