  .content {
    --background: #311B92; 
    --background: linear-gradient(158.34deg, #240056 14.39%, #6B3CAC 56.46%, #E91E63 98.53%);
    --color: white;
    --ion-grid-padding: 0;
  }
  
  .container{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .facebook-button {
    font-size: 10px;
    width: 100%;
    --background: #4267b2;
  }
  .google-button {
    font-size: 10px;
    width: 100%;
    --background: #4285f4;
  }


  .form-group {
    font-size: 12px;
  }

  .user-col {
    font-size: 14px;
    color: whitesmoke;
    margin-top: 20px;
  }

  .form-control {
    font-size: 12px;
    height: 40px;
  }

  .social-icon {
    margin-right: 5px;
  }

 