@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* 19327054 */



.ground {
  /* position: absolute; */
  /* left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */
  background: linear-gradient(0deg, rgba(53, 0, 125, 0.7) 2.6%, rgba(149, 117, 205, 0.22) 123.21%), url(picture/19327054.jpg);
  background-size: cover;
}

.blue{
  background: #311B92;
}
/* Witaj */

.register1 {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
  /* identical to box height */
  color: #FFFFFF;
}

.register2 {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}

.email-field {
  display: flex;
  position: relative;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  width: 249px;
  height: 46px;
  margin: auto;
}

.email-field>* {
  width: 100%;
}

.password-field {
  position: relative;
  bottom: -3%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  width: 249px;
  height: 46px;
  margin: auto;
}

/* .password-field > * {
    width: 100%;
  } */

.re-password-field {
  position: relative;
  bottom: -6%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  width: 249px;
  height: 46px;
  margin: auto;
}

.register-field {
  width: 249px;
  height: 46px;
  margin: auto;
}

.valid-text {
  position: relative;
  left: 40.5%
}
body{
  background-color: #311B92; 
  color: white;
}